<mat-toolbar color="primary" class="mat-elevation-z3">
  <mat-toolbar-row class="primary-toolbar">
    <div class="brand">
      <img class="brand-logo" src="assets/images/fis-logo.png">
      <div class="brand-title">Valdi-Framework</div>
    </div>
    <span class="spacer"></span>
    <!-- TODO Get values from a service -->
    <button mat-button (click)="goTo('/sessions')">Session</button>
    <button mat-button (click)="goTo('/data-sources')">Data Sources</button>
    <button mat-button (click)="goTo('/profile')">Profile</button>
    <button mat-button>Help</button>
    <button mat-button (click)="goTo('/logout')">
      <strong>Sign Out</strong>
    </button>
    <button mat-button>
      <em>Administrator</em>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row class="secondary-toolbar">
    <button mat-icon-button (click)="goTo('/home')">
      <mat-icon>home</mat-icon>
    </button>
    <vf-menu-item 
      *ngFor="let item of menuItems$ | async" 
      [item]="item"
      (click)="goTo($event)"></vf-menu-item>
  </mat-toolbar-row>
</mat-toolbar>
