/* fis-green: #8dc63f */

/* Primary Toolbar */
.primary-toolbar {
    color: black;
    background: white;
}

.spacer {
    flex: 1 auto;
}

/* Brand */
.brand {
    color: #8dc63f;
    cursor: default;
    display: flex;
    justify-content: center;
}

.brand > button {
    padding-bottom: 4px;
}

.brand-title {
    font-size: 24px;
    align-self: center;
    margin-left: 12px;
}

.brand-logo {
    height: 24px;
}

/* Secondary Toolbar */
.secondary-toolbar {
    height: 48px;
}