.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.sorting-arrow {
  opacity: 0;
  margin-left: 5px;
  height: 16px;
  width: 16px;
  font-size: 14px;
}

.mat-sort-header-arrow {
  display: none !important;
}
