<div class="header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="container mat-elevation-z2">

  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <!-- Columns -->
    <ng-container *ngFor="let col of displayedColumns">
      <ng-container *ngIf="col != 'actions'" [matColumnDef]="col">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ columnLabels[col] }}
          <mat-icon [@sortState]="sorting[col]"
                    style="opacity: 0;margin-left: 5px;height: 16px;width: 16px;font-size: 14px;">
            arrow_drop_up
          </mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row[col] ? row[col] : '_' }}</mat-cell>
      </ng-container>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions" *ngIf="actions && actions.length > 0">
      <mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">
        Actions
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.textAlign]="'center'">
        <button
          *ngFor="let action of actions"
          mat-icon-button
          [matTooltip]="action.tooltip"
          [matTooltipPosition]="'above'"
          (click)="action.callback(row)">
          <mat-icon [style.color]="action.iconColor || '#616161'">{{ action.icon }}</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
  