.list-container {
  width: 200px;
  border-radius: 2px;
  background: white;
  padding: 8px 0 10px 0;
}

mat-list-item {
  cursor: pointer;
}

.type-list-item {
  display: flex;
}

.expand-button {
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding-left: 3.47px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
}

:host /deep/ .parent-list-item .mat-list-item-content {
  padding-left: 5px !important;
}    

:host /deep/ .parent-list-item.empty-list-item .mat-list-item-content {
  padding-left: 30px !important;
}

.parent-list-item {
  height: 25px !important;
  padding-left: 0 !important;
}

.child-list-item {
  height: 20px !important;
  padding-right: 0px !important;
  left: 25px !important;
  width: calc(100% - 25px) !important;
}
