<div class="list-container mat-elevation-z2">
  <mat-list dense *ngFor="let type of types">
    <div class="type-list-item">
      <mat-icon *ngIf="!type.empty" class="expand-button" matRipple (click)="toggleExpand(type)">{{ type.expanded ? 'arrow_drop_down' : 'arrow_right' }}</mat-icon>
      <mat-list-item [ngClass]="{'empty-list-item': type.empty}" (click)="typeClicked.emit(type.typeName)" matRipple class="parent-list-item" style="padding-left: 0 !important">
        <strong>{{type.typeName}}</strong>
      </mat-list-item>
    </div>

    <ng-container *ngIf="type.expanded && !type.empty">
      <mat-list-item 
        (click)="itemClicked.emit(item)" 
        class="child-list-item" 
        matRipple 
        *ngFor="let item of data[type.typeName]">
        {{ item[displayProperty] }}
      </mat-list-item>
    </ng-container>
  </mat-list>
</div>
