<div class="container-fluid">
  <div class="row">
      <div class="col-md-2">
        <vf-tree-menu 
        [data]="sessionMap$ | async"
        [displayProperty]="'name'"
        (typeClicked)="onTypeClick($event)"
        (itemClicked)="onItemClick($event)"></vf-tree-menu>
      </div>
      <div class="col-md-10">
        <vf-smart-table
        [columnLabels]="columnLabels"
        [dataSource]="dataSource"></vf-smart-table>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
