<vf-top-navbar (linkClicked)="goTo($event)"></vf-top-navbar>
<div class="app-container">
    <router-outlet></router-outlet>
</div>
<mat-toolbar class="footer">
    <span>Copyright © 2018 FIS. All Rights Reserved.</span>
</mat-toolbar>