.app-container {
    padding: 15px;
    height: calc(100% - 64px - 64px - 48px - 30px);
    background: rgb(250, 250, 250);
    
}

.footer {
    background: #eee;
    font-weight: lighter;
    font-size: 16px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}