<button 
  mat-flat-button 
  color="primary" 
  [matMenuTriggerFor]="subMenu">{{ item.text }}</button>
<mat-menu #subMenu="matMenu">
  <button 
    mat-menu-item 
    *ngFor="let child of item.children"
    (click)="click.emit(item.link + child.link)">{{ child.text }}</button>
</mat-menu>